table > tr, th, td {
  border: 1px solid black;
  padding: 5px;
}

table{
  margin: 0 auto;
}

.skuWrapper{
  width: 40%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skuWrapperBtns{
margin: 5px;
}


.mainFormWrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.mainFormFlex{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

.mainFormRemoveBtn{
  width: 5%;
  height: 5%;
}

.skuInput {
  width: 20%;
}

.subFormWrapper{
  width: 60%;
  margin-top: 10px;
  padding: 5px;
  border: 2px dotted black;
}

.subFormInput{
  width: 10%;
}

.subFormBtnFlex{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tableWrapper{
  width: 40%;
  text-align: center;
  border: 1px solid black;
}


.main{
padding: 5px;
text-align: center;
}