body{
  font-family: sans-serif;
  background-color: rgb(141, 253, 253);
  background-image: url('../public/background.png');
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}

a{
  color: orange;
}

button{
  border: outset;
  background-color: white;
}

input{
  border: inset;
}

table{
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse ;
  background-color: white;
}

table > thead > tr, th, td {
  border: 1px solid black;
  padding: 5px;
}

.title{
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: black;
  color: white;
  margin: 0%;
}

.formMargin{
  margin: 15px;
}

.createPlanBtn{
  background-color: rgb(110, 202, 110);
}

.homepage{
border: 1px solid black;
color: white;
border-radius: 10px;
width: 30%;
height: 200px;
position: absolute;
margin: 0 auto;
top: 35%;
left: 35%;
text-align: center;
background-color: black;
opacity: .8;
}

.skuWrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:10px;
}

.inputWrapper{
  margin: 0;
  text-align: center;
}

.skuWrapperBtns{
margin: 5px;
}

.mainFormWrapper{
  width: 50%;
  margin: 0 auto;
  background-color: rgb(227, 227, 227);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}

.mainFormRemoveBtn{
  width: 5%;
  height: 5%;
}

.skuInput {
  width: 50%;
}

.heightInput{
  width:15%;
}

.subFormWrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:10px;
  border: inset;
  padding: 5px;
}

.subFormInput{
  width: 15%;
}

.errorMessage{
color: red;
font-weight: bold;
}

.helpPage{
  position: absolute;
  top: 0;
  width: 100%;
  background-color: black;
  opacity: .8;
  color: white;
  text-align: center;
  margin: 0;
}

.helpPage > div> a{
  font-size: 1.5em;
}

.helpPage > div> div > img{
  width: 100%;
}

.removeX{
  width:10%;
  position: relative;
  left: 0;
  top: 5px;
  cursor: pointer;
}

.backLink{
  position: absolute;
  top: 0;
  left: 0;
}

.x{
  width: 50%; 
  height: 4px; 
  background-color: red;
  transform-origin: 40% 80%;
  
}

#x1{
  transform: rotate(45deg);
}

#x2{
  transform: rotate(-45deg);
}

.subFormBtnFlex{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tableWrapper{
  width: 100%;
  text-align: center;
  border: 1px solid black;
}

.main{
padding: 5px;
text-align: center;
}

@media only screen and (max-width: 1160px) {
  .mainFormWrapper{
    width: 60%;
  }
  .skuWrapper{
    width: 100%;
  }
}

@media only screen and (max-width: 971px) {
  .mainFormWrapper{
    width: 70%;
  }

  .subFormWrapper{
    width: 60%;
  }
}

@media only screen and (max-width: 946px) {
  .mainFormWrapper{
   display: flex;
   flex-direction: column;
  }

  .subFormWrapper{
    width: 60%;
  }
}