table > thead > tr, th, td {
  border: 1px solid black;
  padding: 0;
  margin: 0;
}

table{
  margin: 0 auto;
}

.homepage{
border: 1px solid black;
}

.skuWrapper{
  width: 100%;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:10px;
}

.inputWrapper{
  margin: 0;
  text-align: center;

}

.skuWrapperBtns{
margin: 5px;
}


.mainFormWrapper{
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid green;
}

.mainFormRemoveBtn{
  width: 5%;
  height: 5%;
}

.skuInput {
  width: 50%;
}

.heightInput{
  width:15%;
}

.subFormWrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:10px;
  /* margin-top: 10px;
  padding: 5px; */
  border: 2px dotted orange;
}

.subFormInput{
  width: 15%;
}

.removeX{
  width:10%;
  border: 3px solid black;
}

.x{
  width: 50%; 
  height: 5px; 
  background-color: red;
  transform-origin: 40% 80%;
  
}

#x1{
  transform: rotate(45deg);
}

#x2{
  transform: rotate(-45deg);
}

.subFormBtnFlex{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tableWrapper{
  width: 100%;
  text-align: center;
  border: 1px solid purple;
}


.main{
padding: 5px;
text-align: center;
}